.alert-container{
    position: fixed;
    z-index: 1000;
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top-right {
    top: 20px;
    right: 20px;
}

.bottom-right {
    bottom: 20px;
    right: 20px;
}

.bottom-left {
    bottom: 20px;
    left: 20px;
}

.top-left {
    top: 20px;
    left: 20px;
}

.alert{
    padding: .5rem .5rem;
}
